.About {
    .PageContainer(darkcyan);

    .AboutCenter {
        .PageCenter();

        .AboutCenterRight, .AboutCenterLeft {
            width: 40%;
            height: 70%;
            height: 70%;
            margin: auto 0;
        }

        .AboutCenterRight {
            padding: 2%;
            p {
                font-size: 0.6em;
                margin: 5% 0;
            }
            h2 {
                font-size: 0.8em;
                margin-bottom: 5%;
                margin-bottom: 0;
            }
        }

        .AboutCenterLeft {
            padding: 2%;
            .ProgressBar1 {
                .ProgressBar(80%)
            }
            .ProgressBar2 {
                .ProgressBar(70%)
            }
            .ProgressBar3 {
                .ProgressBar(90%)
            }
            .ProgressBar4 {
                .ProgressBar(80%)
            }
            .ProgressBar5 {
                .ProgressBar(95%)
            }
            .ProgressBar6 {
                .ProgressBar()
            }
            .ProgressBar7 {
                .ProgressBar(80%)
            }
        }
    }
}
