.Landing {
    .PageContainer(gray);
    padding-top: 5%;

    .LandingCenter {
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        padding-top: 10%;
        background: transparent left no-repeat url("https://cdn.discordapp.com/attachments/503243441149313024/822587194622607400/ryu1.png");
        background-size: 50%;
        
        .LandingCenterText {
            margin-left: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            div {
                margin: 0;
                font-size: 3em;
            }
        }
    }
}