.ProgressBar(@Progress: 90%) {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;

    .BarOuter {
    width: 70%;
    height: 20%;
    background: pink;
    border-radius: 15px;
    margin-top: 2%;

        .BarInner {
            width: @Progress;
            height: 100%;
            background: white;
            border-radius: 15px;
        }
    }

    .BarText {
        margin-left: 4%;
        h3 {
            font-size: 0.8em;
        }
    }
}

.PageContainer(@color: transparent) {
    width: 100%;
    height: 100vh;
    padding-top: 7%;
    background: @color;
}

.PageCenter() {
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background: black;
}
