.Projects {
    height: 100vh;
    background: darkorchid;
    .ProjectsCenter {
        width: 90%;
        height: 80vh;
        display: flex;
        margin: 0 auto;
        padding-top: 10%;
        justify-content: space-around;

        .Project {
            width: 25%;
            padding: 1%;
            background: blue;
            .ProjectImg {
                margin: 0 auto;
            }

            .ProjectDesc {
                * {
                    margin: 4% 0;
                }
                p {
                    font-size: 0.5em;
                }
            }
        }
        
    }
}