html,
body {
  height: 100%;
  font-size: 65.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #727272;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}
.App {
  height: 400vh;
  background: black;
}
.Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.Nav .NavName {
  text-align: center;
  vertical-align: middle;
  width: 20%;
  height: 50%;
}
.Nav .NavButtons {
  width: 35%;
  display: flex;
  justify-content: center;
}
.Nav .NavButtons div {
  margin: 5% 5%;
}
.Landing {
  width: 100%;
  height: 100vh;
  padding-top: 7%;
  background: gray;
  padding-top: 5%;
}
.Landing .LandingCenter {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  padding-top: 10%;
  background: transparent left no-repeat url("https://cdn.discordapp.com/attachments/503243441149313024/822587194622607400/ryu1.png");
  background-size: 50%;
}
.Landing .LandingCenter .LandingCenterText {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.Landing .LandingCenter .LandingCenterText div {
  margin: 0;
  font-size: 3em;
}
.About {
  width: 100%;
  height: 100vh;
  padding-top: 7%;
  background: darkcyan;
}
.About .AboutCenter {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background: black;
}
.About .AboutCenter .AboutCenterRight,
.About .AboutCenter .AboutCenterLeft {
  width: 40%;
  height: 70%;
  margin: auto 0;
}
.About .AboutCenter .AboutCenterRight {
  padding: 2%;
}
.About .AboutCenter .AboutCenterRight p {
  font-size: 0.6em;
  margin: 5% 0;
}
.About .AboutCenter .AboutCenterRight h2 {
  font-size: 0.8em;
  margin-bottom: 5%;
  margin-bottom: 0;
}
.About .AboutCenter .AboutCenterLeft {
  padding: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar1 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar1 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar1 .BarOuter .BarInner {
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar1 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar1 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar2 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar2 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar2 .BarOuter .BarInner {
  width: 70%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar2 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar2 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar3 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar3 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar3 .BarOuter .BarInner {
  width: 90%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar3 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar3 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar4 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar4 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar4 .BarOuter .BarInner {
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar4 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar4 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar5 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar5 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar5 .BarOuter .BarInner {
  width: 95%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar5 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar5 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar6 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar6 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar6 .BarOuter .BarInner {
  width: 90%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar6 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar6 .BarText h3 {
  font-size: 0.8em;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar7 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar7 .BarOuter {
  width: 70%;
  height: 20%;
  background: pink;
  border-radius: 15px;
  margin-top: 2%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar7 .BarOuter .BarInner {
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 15px;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar7 .BarText {
  margin-left: 4%;
}
.About .AboutCenter .AboutCenterLeft .ProgressBar7 .BarText h3 {
  font-size: 0.8em;
}
.Projects {
  width: 100%;
  height: 100vh;
  padding-top: 7%;
  background: darkorchid;
}
.Projects .ProjectsCenter {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background: black;
}
.Projects .ProjectsCenter .Project {
  width: 25%;
  height: 70%;
  margin: auto 0;
  padding: 1%;
  background: blue;
}
.Projects .ProjectsCenter .Project .ProjectImg {
  margin: 0 auto;
}
.Projects .ProjectsCenter .Project .ProjectDesc * {
  margin: 4% 0;
}
.Projects .ProjectsCenter .Project .ProjectDesc p {
  font-size: 0.5em;
}
.Contact {
  width: 100%;
  height: 100vh;
  padding-top: 7%;
  background: darkseagreen;
}
.Contact .ContactCenter {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background: black;
}
.Contact .ContactCenter .ContactCenterLeft,
.Contact .ContactCenter .ContactCenterRight {
  height: 70%;
  margin: auto 0;
}
.Contact .ContactCenter .ContactCenterLeft {
  width: 30%;
  background: green;
}
.Contact .ContactCenter .ContactCenterLeft .ContactTitle {
  border-bottom: 1px solid white;
  text-align: center;
}
.Contact .ContactCenter .ContactCenterLeft .ContactTitle h2 {
  font-size: 1.2em;
}
.Contact .ContactCenter .ContactCenterRight {
  width: 50%;
  background: firebrick;
}
.Contact .ContactCenter .ContactCenterRight form {
  margin: 0 auto;
  background: white;
}
.Contact .ContactCenter .ContactCenterRight .NameInput,
.Contact .ContactCenter .ContactCenterRight .EmailInput,
.Contact .ContactCenter .ContactCenterRight .MessageInput {
  width: 80%;
  height: 6vh;
  margin: 2% 0 2% 9%;
}
.Contact .ContactCenter .ContactCenterRight .MessageInput {
  height: 20vh;
}
.Social {
  position: fixed;
  top: 40%;
  float: left;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 3%;
}
.Scroll {
  position: fixed;
  width: 15%;
  height: 10%;
  right: -3%;
  bottom: 10%;
  z-index: 3;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}
.Scroll .ScrollText {
  font-size: 0.7em;
}
.Scroll .DownArrow {
  align-items: center;
  margin-left: 4%;
  width: 15%;
  height: 5.6vh;
}
